$font-size: calc(0.85rem + 0.2vw) !default
$font-weight: 400 !default
$font-family: "PT Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif !default
$heading-weight: 700 !default
$line-height: 1.75 !default
$link-color: #4a8fb5 !default
$dark: #1e2130 !default
$light: #fdfcfb !default

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)
